@charset "UTF-8";
/* Estilos generales del formulario */
.formulario {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el título del formulario */
.formulario p {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos para los contenedores de cada input */
.input-wrapper {
  position: relative;
  margin-bottom: 15px;
}

/* Estilos para los input de texto */
.input-wrapper input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Estilos para los iconos dentro de los input */
.input-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* Estilos para el botón de enviar */
.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Estilos adicionales para mejorar la apariencia del botón al pasar el mouse */
.btn:hover {
  background-color: #0056b3;
}