.contenedor {
  width: 100%;
  height: 100vh;
  background-color: #d0d0d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contenedor .form-content {
  width: 100%;
  max-width: 450px;
  background-color: #2c2f35;
  padding: 50px 60px 70px;
  text-align: center;
  border-radius: 25px;
}
.contenedor .form-content h1 {
  font-size: 30px;
  margin-bottom: 60px;
  color: white;
  position: relative;
}
.contenedor .form-content h1::after {
  content: "";
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background: #FFBE58;
  position: absolute;
  bottom: -12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.contenedor .form-content .input-field {
  margin: 15px 0;
  border-radius: 5px;
  background-color: #515966;
  overflow: hidden;
}
.contenedor .form-content .input-field input {
  background: transparent;
  border: 0;
  outline: none;
  padding: 18px 15px;
}
.contenedor .form-content .input-field input::-webkit-input-placeholder {
  color: white;
}
.contenedor .form-content .input-field input::-moz-placeholder {
  color: white;
}
.contenedor .form-content .input-field input:-ms-input-placeholder {
  color: white;
}
.contenedor .form-content .input-field input::-ms-input-placeholder {
  color: white;
}
.contenedor .form-content .input-field input::placeholder {
  color: white;
}
.contenedor .form-content .input-field i {
  color: #FFBE58;
}
.contenedor .form-content .btn-field button {
  background-color: #FFBE58;
  color: white;
  border-radius: 18%;
  margin-top: 22px;
}
.contenedor .form-content .warnings {
  width: 200px;
  text-align: center;
  margin: auto;
  color: red;
  padding-top: 20px;
}

.invierno {
  background-color: #add8e6;
}

.sobrenosotros {
  background-color: #f0f0f0;
}

.poke {
  width: 800px;
  height: auto;
}