
@function calcularTamañoFuente($tamañoBase, $incremento) {
    @return $tamañoBase + $incremento;
}

@function calcularPadding($paddingBase, $incremento) {
    @return $paddingBase + $incremento;
}


@mixin transicionTodo($duracion) {
    transition: all $duracion;
}

body {
    margin: 0;
}

.barra {
    width: 10%;
    height: 9%;
    position: fixed;
    @include transicionTodo(0.4s);
    z-index: 1;

    ul {
        padding: 0;
        text-align: center;
    }

    li {
        transition: all 0.3s;
        list-style: none;
    }

    a {
        text-decoration: none;
        font-weight: normal;
        @include transicionTodo(0.3s);
        font-size: 0px;
        padding: 0;

        &:hover {
            font-size: calcularTamañoFuente(20px, 5px);
            padding: calcularPadding(20px, 10px);
            background: #FFBE58;
        }
    }

    h2 {
        text-align: center;
        color: white;
        padding: 7px;
        padding-bottom: 7px;
        font-size: 0px;
    }

    img {
        padding-top: 30px;
        padding-left: 10px;
    }

    &:hover {
        width: 70%;
        height: 100vh;
        background: #2c2f35;

        h2 {
            padding: 15px;
            font-size: 35px;
        }

        a {
            font-size: 20px;
            color: white;
            display: block;
            padding: 20px;
        }

        img {
            height: 0px;
        }

        li {
            border-top: 1px solid #03121b;
            width: 100%;
        }

        ul:last-of-type {
            border-bottom: 1px solid #03121b;
        }

        a:hover {
            font-size: 25px;
            padding: 30px 0px;
            background: #FFBE58;
        }
    }

    @media (min-width: 768px) {
        &:hover {
            width: 45%;
        }
    }
}
