@use "components/form.scss";
@use "components/cards.scss";
@use "components/menu";
@use "components/carrousel.scss";
.sobrenosotros {
    background-color: #f0f0f0;
  }
  .poke{
    width: 800px;
    height: auto;
  }
  .bg-pink{
    background-color: #ff69b4;
  }
  .bg-purple{
    background-color: #4B0082
    ;
  }

  .eliminar {
    background-color: #ff0000; 
    padding: 10px 15px; 
    color: #ffffff;
    border: none; 
    border-radius: 5px; 
  
  }

  .editar {
    background-color:  #1E90FF; 
    color: #ffffff; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px; 
  
  }